$main-bg-color: #FFF5F6;
$title-text-color: #FFA5BA;
$description-text-color: #D41443;
$primary-content-color: #000000;
$secondary-content-color: #907E82;
$btn-bg-color: #ffffff;
$btn-hover-bg-color: #ECEBEB;
$description-bg-color: #FAFAFA;
$description-border-color: #E1E1E1;
$dots-bg-color: #D9D9D9;